<div class="flex justify-between">
  <%= link_to "Back", students_path, class: 'btn btn-default mb-4' %>
</div>

<h2 class="font-bold text-center mb-4 text-slate-600">Student Info</h2>

<div class="rounded-md border px-5 py-5 grid grid-cols-[min-content_1fr] gap-4">
  <div class="rounded-md border w-28 h-40 text-center align-middle py-3">
    Here will be photo
  </div>

  <div class="grid gap-4 grid-cols-2">
    <div>
      ID №: <strong><%= @student.id %></strong>
    </div>
    <div class="justify-self-end">
      <%= link_to "Log Book", student_logbook_path(@student), class: 'btn btn-green' %>
    </div>

    <div>
      Name: <strong><%= @student.name %></strong>
    </div>
    <div>
      Surname: <strong><%= @student.surname %></strong>
    </div>

    <div>
      Phone: <strong><%= @student.phone %></strong>
    </div>
    <div>
      Email: <strong><%= @student.email %></strong>
    </div>

    <div class="col-span-2">
      Birthday: <strong><%= @student.birthday&.strftime('%b %d, %Y') || "—" %></strong>
    </div>

    <div>
      Country: <strong><%= @student.country.presence || "—" %></strong>
    </div>
    <div>
      City: <strong><%= @student.city.presence || "—" %></strong>
    </div>

    <div class="col-span-2">
      Address: <strong><%= @student.address.presence || "—" %></strong>
    </div>

    <% if policy(@student).edit? %>
      <%= link_to "Edit", edit_student_path, class: 'link-button-green-reverse col-start-2
    w-fit justify-self-end' %>
    <% end %>
  </div>
</div>
