<%= form_with model: @instructor do |f| %>
  <div class="flex flex-wrap mb-6">
    <div class="flex w-full mb-4 justify-between">
      <div class="flex-1 flex flex-col mr-4">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "name", class: 'input', required: true %>
        <% if @instructor.errors.include?(:name) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:name).join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="flex-1 flex-col flex">
        <%= f.label :surname %>
        <%= f.text_field :surname, placeholder: "surname", class: 'input', required: true %>
        <% if @instructor.errors.include?(:surname) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:surname).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex w-full justify-between mb-4">
      <div class="flex-1 flex flex-col mr-4">
        <%= f.label :initials %>
        <%= f.text_field :initials, placeholder: "initials", class: 'input', required: true %>
        <% if @instructor.errors.include?(:initials) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:initials).join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="flex-1 flex flex-col">
        <%= f.label :license %>
        <%= f.text_field :license, placeholder: "license", class: 'input', required: true %>
        <% if @instructor.errors.include?(:license) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:license).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex justify-between w-full mb-6 flex-wrap">
      <% unless @instructor.new_record? %>
        <% if policy(@instructor).destroy? %>
          <%= link_to "Delete", @instructor, method: :delete, class: "btn-red", data: { confirm: "Are you
                                                                                        sure?" } %>
        <% end %>
      <% end %>

      <% if policy(@instructor).edit? %>
        <%= render 'instructors/credentials/credentials_form', form: f %>
      <% end %>
      <%= f.submit 'Save', class: 'btn btn-green cursor-pointer' %>
    </div>
<% end %>
</div>
