<%= form_with model: @instructor do |f| %>
  <div class="flex justify-between">
    <div class="mb-3 row">
      <div>
        <%= f.label :name %>
      </div>

      <div>
        <%= f.text_field :name, placeholder: "name", class: 'input', required: true %>
      </div>
      <% if @instructor.errors.include?(:name) %>
        <div class="mt-1 text-red-600">
          <%= @instructor.errors.full_messages_for(:name).join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="mb-3 row">
      <div>
        <%= f.label :surname %>
      </div>

      <div>
        <%= f.text_field :surname, placeholder: "surname", class: 'input', required: true %>
        <% if @instructor.errors.include?(:surname) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:surname).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="mb-3 row">
      <div>
        <%= f.label :initials %>
      </div>

      <div>
        <%= f.text_field :initials, placeholder: "initials", class: 'input', required: true %>
        <% if @instructor.errors.include?(:initials) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:initials).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3 row">
      <div>
        <%= f.label :license %>
      </div>

      <div>
        <%= f.text_field :license, placeholder: "license", class: 'input', required: true %>
        <% if @instructor.errors.include?(:license) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:license).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @instructor.new_record? %>
    <%= render 'instructors/credentials/credentials_form', form: f %>
  <% end %>

  <div class="flex justify-between">
    <% if policy(@instructor).edit? %>
      <%= f.submit 'Save', class: 'btn btn-green cursor-pointer' %>
    <% end %>
    <% if policy(@instructor).destroy? %>
      <% unless @instructor.new_record? %>
        <%= link_to "Delete", @instructor, method: :delete, class: "btn-red", data: { confirm: "Are you
                                                                                        sure?" } %>
      <% end %>
    <% end %>
  </div>
<% end %>
