<div class="flex justify-between">
  <%= button_to "Back", user_session_path, class: 'btn-primary navbar-link' %>
  <%= link_to "Create Instructor", new_instructor_path, class: 'btn-primary navbar-link
  link-button' %>
</div>
<div>
  <h2 class="mb-4 mt-4">Here will be All Instructors:</h2>
  <% @instructors.each do |instructor| %>
    <div>
      <%= instructor.name %> <%= instructor.surname %> <%= instructor.license %>
    </div>
  <% end %>
</div>