<div class="flex justify-between">
  <%= button_to "Back", user_session_path, class: 'btn btn-default' %>
  <% if policy(Instructor).create? %>
    <%= link_to "Create Instructor", new_instructor_path, class: 'link-button-green' %>
  <% end %>
</div>
<div>
  <h2 class="mb-4 mt-4 text-center font-bold">All Instructors:</h2>
  <table class="table-auto w-full border">
    <thead>
    <tr>
      <th class="border-2 py-1 px-3">
        Name, Surname
      </th>
      <th class="border-2 py-1 px-3">
        License
      </th>
    </tr>
    </thead>
    <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td class="border-2 py-1 px-3">
          <%= link_to instructor do %>
            <%= "#{instructor.name} #{instructor.surname}" %>
          <% end %>
        </td>
        <td class="border-2 py-1 px-3">
          <%= "#{instructor.license}" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
