<div class="flex">
  <aside class="w-64 sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <ul class="space-y-2">
        <% @logbook.course_levels.each do |level| %>
          <li>
            <% link_classes = [
              ('pl-7' unless %w[current passed].include?(level[:status])),
              ('svg-green' if level[:status] == 'passed'),
              ('bg-green-200' if level[:status] == 'passed'),
              ('bg-gray-300' if level[:status] == 'skipped'),
              ('bg-red-200' if level[:status] == 'repeat')
            ].compact %>
            <% jump = level[:jumps].last %>
            <% jump_path = jump ? student_jump_path(@student, jump) : '#' %>
            <%= link_to jump_path, class: "flex px-3 py-2 items-center rounded-md
#{link_classes.join(' ')}" do %>
              <% if level[:status] == 'current' %>
                <%= svg('arrow-right') %>
              <% elsif level[:status] == 'passed' %>
                <%= svg('check') %>
              <% end %>
              &nbsp;
              <span><%= level[:name] %></span>
              &nbsp;
              <% if level[:status] == 'skipped' %>
                <span class="text-gray-500">(skipped)</span>
              <% end %>
              <% if level[:status] == 'repeat' %>
                <span class="text-gray-500">(repeat)</span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </aside>
  <main class="p-4">
    <%= yield %>
  </main>
</div>
