<%= form.fields_for :user do |user_fields| %>
  <div class="flex justify-between mb-3">
    <div class="mb-3 row">
      <div>
        <%= user_fields.label :login %>
      </div>

      <div>
        <%= user_fields.text_field :login, placeholder: "login for user", class: 'input', required: true %>
        <% if @instructor.errors.include?(:login) %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for(:login).join(", ") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3 row">
      <div>
        <%= user_fields.label :password %>
      </div>

      <div>
        <%= user_fields.password_field :password, placeholder: "password for user", class: 'input', required:
          true, autocomplete: 'new-password' %>
        <% if @instructor.errors.include?('user.password') %>
          <div class="mt-1 text-red-600">
            <%= @instructor.errors.full_messages_for('user.password').join(", ") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
