<div class="flex justify-between">
  <%= link_to "Back", instructor_path(@instructor), class: 'btn btn-default' %>
</div>

<div class="max-w-2xl mx-auto">
  <h2 class="mb-4 text-center font-bold text-slate-600">Edit
    credentials <%= "#{@instructor.full_name}" %></h2>

  <% if @instructor.user %>
    <%= form_with model: @instructor, url: instructor_credentials_path do |f| %>
      <%= render 'instructors/credentials/credentials_form', form: f %>
      <% if policy(@instructor).edit? %>
        <%= f.submit 'Save', class: 'btn btn-green cursor-pointer' %>
      <% end %>
    <% end %>
  <% else %>
    <p><%= "Instructor #{@instructor.full_name} doesn't have credentials" %></p>
  <% end %>
</div>
