<div class="mb-6">
  <%= link_to "Back", instructor_path(@instructor), class: 'link-button-blue' %>
</div>

<h2 class="mb-4 text-center font-bold text-slate-600">Edit
  credentials <%= "#{@instructor.name} #{@instructor.surname}" %></h2>

<% if @instructor.user %>
  <%= form_with model: @instructor, url: instructor_credentials_path do |f| %>
    <%= render 'instructors/credentials/credentials_form', form: f %>
    <% if policy(@instructor).edit? %>
      <%= f.submit 'Save', class: 'btn btn-green cursor-pointer' %>
    <% end %>
  <% end %>
<% else %>
  <p><%= "Instructor #{@instructor.name} #{@instructor.surname} doesn't have credentials" %></p>
<% end %>
