<div class="flex my-4 justify-between border-b-2 border-gray-500 pb-6">
  <%= link_to root_path, class: 'block' do %>
    <img src="<%= asset_path('logo.png') %>" alt="Skydive Dubai">
  <% end %>
  <div class="navbar-text flex items-center place-self-end">
    <% if user_signed_in? %>
      <div class="mr-6">
        Logged in as <strong><%= current_user.login %></strong>
      </div>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn
      btn-blue' %>
    <% else %>
      <%= button_to "Login", new_user_session_path, :class => 'btn btn-blue' %>
    <% end %>
  </div>
</div>
